/*!* ROOT *!*/
.root {
    -fx-padding: 50;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
}

.jfx-button {
    -fx-background-color: #536a74;
    -fx-text-fill: #d0d6d9;
}

.jfx-button:hover {
    -fx-background-color: #d0d6d9;
    -fx-text-fill: #536a74;
}

.MenuButtons {
    -fx-max-width: 600;
    -fx-text-alignment: center;
    -fx-font-size: 24;
}

/* TimelineView style */
#timelineView {
    /*-fx-background-color: transparant;*/
}
#frontCardView {
    -fx-background-color: #252f33;
    -fx-padding: 5 30 5 30;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-text-fill: white;
}
#backCardView {
    -fx-background-color: #252f33;
    -fx-padding: 5 30 5 30;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}
#timelineCardContainer {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#frontCardH1, #frontCardH2, #frontCardH3, #frontCardH4, #frontCardH5, #frontCardH6, #frontCardBody, #frontCardDate {
    -fx-text-fill: #d0d6d8;
}

#frontCardH1 {
    -fx-font-weight: bold;
}

/* TabPane */
.jfx-tab-pane .headers-region {
    -fx-background-color: #536a74;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #536a74;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #536a74;
    -fx-stroke-width: 3pt;
}

/* Date Picker */
.jfx-date-picker > .arrow-button > .jfx-svg-glyph {
    -fx-background-color: #536a74;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #536a74;
}

.date-picker-popup .button {
    -fx-background-color: rgba(0,0,0,0);
}

/* TextField, TextArea, Label */
.jfx-text-field {
    -fx-font-size: 18;
    -fx-text-fill: #795c51;
    -jfx-focus-color: #795c51;
    -jfx-unfocus-color: #b1bfbd;
    -fx-padding: 0.333333em 0 0.333333em 0;
}

.jfx-text-area {
    -fx-font-size: 18;
    -fx-text-fill: #795c51;
    -jfx-focus-color: #795c51;
    -jfx-unfocus-color: #b1bfbd;
    -fx-padding: 0.333333em 0 0 0 ;
}

.label {
    -fx-font-size: 18;
    -fx-text-fill: #795c51;
}